<script>
  jQuery(function(){
    jQuery(document).foundation();   
			alert("hi");
  })
</script>

<!-- Orbit Container -->
<div class="orbit-container">
  <ul data-orbit="" class="orbit-slides-container">
    <li>
      <%= link_to image_tag("sushi-s.jpg") %>
    </li>
    <li class="active">
      <%= link_to image_tag("sushi-s.jpg") %>
    </li>
    <li>
      <%= link_to image_tag("sushi-s.jpg") %>
    </li>
  </ul>

  <!-- Prev/Next Arrows -->
  <a href="#" class="orbit-prev">Prev <span></span></a>
  <a href="#" class="orbit-next">Next <span></span></a>

  <!-- Slide Numbers -->
  <div class="orbit-slide-number">
    <span>1</span> of <span>3</span>
  </div>

  <!-- Timer and Play/Pause Button -->
  <div class="orbit-timer">
    <span></span>
    <div class="orbit-progress" style="width: 100%; -webkit-transition: width 10s linear;"></div>
  </div>
</div>
