
<section class="grey-space">
	<div class="row">
		<div class="section-title">
			<h4>Our Customers Reviews</h4>
		</div>
	</div>
</section>

<!--Reviews Section-->
	<section class="reviews">
	<!--	<div class="row">
			<div class="reviews-section-title"><h4>Customer Reviews</h4></div>
		</div>-->
		<!--reviews-list-->
		<div class="row">
			<div class="arrow"></div>
			
			<% @reviews.each do |i| %>
			<div class="small-6 columns">
				<div class="row">
					<div class="small-2 columns">
						<%= image_tag(i[:image]) %>
						<!--<img class="review-pic corner_100" src="http://s3-media2.ak.yelpcdn.com/photo/RoTJg2iHf0iTDwrtBviAAQ/ms.jpg" alt="" />-->
					</div>
					
					<div class="small-10 columns">
						<h6><%= "#{i[:name]} says:" %></h6>
						<p><%= "#{i[:review_text]}" %></p>
						<small>From Yelp.com</small>
					</div>
				</div>
			</div>
			<% end %>
			<!-- END: review-->
			
		</div>
		<!--END: reviews-list-->
	</section>
<!--END: Reviews Section-->