<div class="reveal-modal" id="videoModal" style="max-width:690px;">
	<h4>Sushi Kushi on Chicago's Best!</h4>
	<a class="close-reveal-modal">close</a>
	<%= video_tag "/assets/sushi.mp4", :size => "640x480", :controls => true %>
</div>