<!-- Menu-Header Section-->
<section class="findus-header">
	<div class="row">
		<div class="small-3 columns">
			<h4>About Us</h4>
		</div>
		<div class="small-9 columns">
		</div>
	</div>
</section>	
<!--/Menu-Header Section-->
<!-- Body of Page -->
<section class="findus-content">
	<div class="row">
		<div class="small-12 columns">
			<h4>Video about the restaurant</h4>
			<video width="640" height="360" src="http://youtube.googleapis.com/v/C4Y3vLkd40w"></video>
			
			<audio src="assets/audios/japan.mp3" preload="none" autoplay></audio>
		</div>	
	</div>
</section>	
<!-- End: Body of Page-->