	
<!-- Menu-Header Section-->
<section class="findus-header">
	<div class="row">
		<div class="small-3 columns">
			<h4>Find Us</h4>
		</div>
		<div class="small-9 columns">
		</div>
	</div>
</section>	
<!--/Menu-Header Section-->

<!--Menu-content Section-->
<section class="findus-content">
	<div class="row">
		<!--categories list-->
		<div class="small-4 columns">
			<div class="row">
				<h4>Address</h4>
				<p>Sushi Kushi Toyo
				825 South Waukegan Rd.
				Lake Forest, Illinois 60045</p>
			</div>
			
			<div class="row">
				<h4>Hours of Operation</h4>
				<strong>Monday-Saturday</strong>
				<p>
				Lunch 11:30am-2pm
				<br>
				Dinner 5:00-10:00pm
				</p>
				
				<strong>Sunday</strong>
				<p>Dinner 4:30-9:00pm</p>
			</div>
			
			<div class="row">
				<h4>Phone Numbers</h4>
				<p>
				(847) 234-9950
				<br>
				(847) 735-8215
				</p>
			</div>
		</div>
		<!--/categories list-->
		
		<!-- menu-list -->
		<div class="small-7 columns">
			<div class="row">
				<div class="map">
					<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Sushi+Kushi+Toyo+825+South+Waukegan+Rd.+Lake+Forest,+Illinois+60045&amp;aq=&amp;sll=41.833733,-87.731964&amp;sspn=0.555601,1.344452&amp;ie=UTF8&amp;hq=Sushi+Kushi+Toyo+825+South+Waukegan+Rd.+Lake+Forest,+Illinois+60045&amp;t=m&amp;ll=42.225064,-87.872326&amp;spn=0.016525,0.032015&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Sushi+Kushi+Toyo+825+South+Waukegan+Rd.+Lake+Forest,+Illinois+60045&amp;aq=&amp;sll=41.833733,-87.731964&amp;sspn=0.555601,1.344452&amp;ie=UTF8&amp;hq=Sushi+Kushi+Toyo+825+South+Waukegan+Rd.+Lake+Forest,+Illinois+60045&amp;t=m&amp;ll=42.225064,-87.872326&amp;spn=0.016525,0.032015" style="color:#0000FF;text-align:left">View Larger Map</a></small>
				</div>
			</div>
		</div>
		<!--/menu-list -->
	</div>
	
</section>
<!--/Menu-content Section-->