	
<!-- Menu-Header Section-->
<section class="findus-header">
	<div class="row">
		<div class="small-3 columns">
			<h4>Find Us</h4>
		</div>
		<div class="small-9 columns">
		</div>
	</div>
</section>	
<!--/Menu-Header Section-->

<!--Menu-content Section-->
<section class="findus-content">
	<div class="row">
		<!--categories list-->
		<div class="small-4 columns">
			<div class="row">
				<h4>Address</h4>
				<p>Sushi Kushi Toyo
				825 South Waukegan Rd.
				Lake Forest, Illinois 60045</p>
			</div>
			
			<div class="row">
				<h4>Hours of Operation</h4>
				<strong>Monday-Saturday</strong>
				<p>
				Lunch 11:30am-2pm
				<br>
				Dinner 5:00-10:00pm
				</p>
				
				<strong>Sunday</strong>
				<p>Dinner 4:30-9:00pm</p>
			</div>
			
			<div class="row">
				<h4>Phone Numbers</h4>
				<p>
				(847) 234-9950
				<br>
				(847) 735-8215
				</p>
			</div>
		</div>
		<!--/categories list-->
		
		<!-- menu-list -->
		<div class="small-7 columns">
			<div class="row">
				<div class="map">
					<img src="http://placehold.it/650x350">
				</div>
			</div>
		</div>
		<!--/menu-list -->
	</div>
	
</section>
<!--/Menu-content Section-->