jQuery("#emailModal").html("<h1>Thank you!</h1><p>You will recieve updates from <span style='font-size:1.25em; color:#3c9161;'>Sushi Kushi Toyo</span> at <%=@user.email %></p>");
jQuery("#emailModal").foundation("reveal", "open");
jQuery("#thing").html("<div class='panel radius'><h5>Thanks <span style='color:#3c9161;'><%= @user.email %></span></h5><p style='color:#555;'>Expect an email from us shortly</p></div>");