<div class='small-9 columns menu-list'>
	<!--menu-item-->
	<div class="row menu-item">
		<div class="small-3 columns">
			<%= link_to image_tag("SushiDelux.jpg") %>
		</div>
		<div class="small-9 columns">
			<span class="item-name"><strong>Sushi Deluxe</strong></span><span class="right item-price">$50</span>
			<p class="item-desc">Chef's special freshest best selection</p>
		</div>
	</div>
	<!--/menu-item-->
</div>

</section>