<!-- Menu-Header Section-->
<section class="menu-header">
	<div class="row">
		<div class="small-3 columns">
			<h4>Menu</h4>
		</div>
		<div class="small-9 columns">
		</div>
	</div>
</section>	
<!--/Menu-Header Section-->

<!--Menu-content Section-->
<section class="menu-content">
	<div class="row">
		<!--categories list-->
		<div class="small-2 columns">
			<div class="row">
				<ul class="category">
					<li><a class="active" href="#" id="showAll">All items</a></li>
					<li><a href="#" id="showLunch">Lunch</a></li>
					<li><a href="#" id="showSushi">Sushi</a></li>
				</ul>
			</div>
		</div>
		<!--/categories list-->
		
		<div id="items">
		</div>
		
		<script>
			jQuery(document).ready(function(){
				//ON LOAD disply all Items
				jQuery('#items').html("<%=j render 'everything_menu'%>");
				
				jQuery('#showLunch').click(function(){
					jQuery('#items').html("<%=j render 'lunch_menu'%>");
					return false;
				});
				
				jQuery('#showSushi').click(function(){
					jQuery('#items').html("<%=j render 'sushi_menu'%>");
					return false;
				});
				
				jQuery('#showAll').click(function(){
					jQuery('#items').html("<%=j render 'everything_menu'%>");
					return false;
				});
			});
		</script>
	