jQuery("#errorModal").html("<h1 style='color:#8d3028;'>Whoa ...</h1><p>Please re-enter your info.</p>");
jQuery("#errorModal").foundation("reveal", "open");
jQuery("#name-field").val("");
jQuery("#email-field").val("");
