// You custom settings file to override Foundation defaults
@import "settings";
@import "foundation/components/global";
//@import "compass/css3"; 
//@import "compass/utilities";

/* Texts */


/* -- Forms*/
form{
	margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
	padding: 0px 10px;
	height: 45px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid white;
	@include radius(2px);
	
}


/* -- Buttons*/


/* General buttons */

.button{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nav-btn{
	background: black;
	border: none;
	color: white;
	font-weight: normal;
	/*border-bottom: 1px solid white;*/
}

.nav-btn:hover{
	background: black;
	border: none;
	color: $green;
}


.green-btn{
	background: $green;
	border: 1px solid $green;
	color: white;
}

.green-btn:hover{
	background: white;
	border: 1px solid $green;
	color: $green;
}

.white-btn{
	background: white;
	border: 1px solid white;
	color: $green;
}

.white-btn:hover{
	background: $green;
	color: white;
	border: 1px solid white;
}

.grey-btn{
	background: white;
	border: 1px solid white;
	color: $grey;
}

.grey-btn:hover{
	background: $grey;
	color: white;
	border: 1px solid white;
}

.bordered-grey-btn{
	background: white;
	border: 1px solid $lightGrey;
	color: $grey;
}

.bordered-grey-btn:hover{
	background: $grey;
	color: white;
	border: 1px solid white;
}

.lightgrey-btn{
	background: $lightGrey;
	border: 1px solid $lightGrey;
	color: $grey;
}

.lightgrey-btn:hover{
	background: $grey;
	border: 1px solid $lightGrey;
	color:white;
}

/* Alert Boxes */

/*-- Triangle*/

.arrow{
	//margin: 0 auto;
	@include css-triangle(30px, $grey, top);
}



.corner_100{
	@include radius(100%);
}
