// You custom settings file to override Foundation defaults
@import "settings";
@import "elements";
@import "pages";


/*.top-header{
	background-color:$white;
	height: $topBarHeight;
}*/

body{
	background: white;
}


/* Top bar Section*/

header{
	background-color: black;
	padding: 10px 0px 0px 0px;
/*	margin-bottom: 40px;*/
	
	h3 a{
/*		color: $green;*/
	}
}

ul.navbar-list{
	margin-top: 10px;
	margin-bottom: 0px;
}

ul.navbar-list li {
	display: block;
	float: left;
	margin: 0px 10px;
}


ul.navbar-list li a{
}







/* Footer */
footer{
	margin-top: 40px;
	padding: 10px 0px;
	background: $grey;
}

ul.footer-list{
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.footer-list li {
	display: block;
	float: left;
	margin: 0px 10px;
}


/* IE fix */

a img{
	border: none;
}

