<!DOCTYPE html> 
<html> 
<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<%= stylesheet_link_tag    "SushiKushiMobile.min", :media => "all" %>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

</head> 
<body> 

<div data-role="page" data-theme="a">
			<div data-role="header" data-position="inline">
				<h1>Sushi Kushi Toyo</h1>
			</div>
			<div data-role="content" data-theme="a">
			
				<p>Best Sushi in Chicago! -- <a href="http://www.youtube.com/watch?v=r1l7VgiWsUI">Video</a></p>
				<h1>Hours</h1>
				<p style="color:#3c9161;">Monday-Saturday</p>
				<p>Lunch 11:30am-2pm</p>
				<p>Dinner 5:00-10:00pm</p>
				<p style="color:#3c9161;">Sunday</p>
				<p>Dinner 4:30-9:00pm</p>
				
				<div data-role="collapsible-set">
					<div data-role="collapsible">
						<h1>About</h1>
						<p style="color:#3c9161;">Our Restraunt</p>
						<p>Total 130 seats in modern exterior but authentic Japanese Sushi restaurant in North side of Chicago, Lake Forest, Sushi Kushi Toyo is favore of neighbors.</p>
					</div>
					<div data-role="collapsible">
						<h1>Menu</h1>
						<div data-role="collapsible">
							<h1 style="color:#3c9161;">Lunch</h1>
							<table>
							<tr>
								<th data-priority="1" style="color:#BA8CBA;"><span style="text-decoration:underline;">Name</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
								<th data-priority="2" style="color:#BA8CBA; text-decoration:underline;"">price</th>
							</tr>
							
							<tr>
								<td style="font-weight:bold;">Item 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
								<td>20.00</td>
							</tr>
							</table>
						</div>
						<div data-role="collapsible">
							<h1 style="color:#3c9161;">Sushi</h1>
							<table>
							<tr>
								<th data-priority="1" style="color:#BA8CBA;">Name</th>
								<th data-priority="2" style="color:#BA8CBA;">price</th>
							</tr>
							
							<tr>
								<td style="font-weight:bold;">Item 1</td>
								<td style="color:#A3CCA3">20.00</td>
							</tr>
							</table>
						</div>
					</div>
					
					<div data-role="collapsible">
						<h1>Find Us</h1>
						<p>Address: 825 South Waukegan Rd. Lake Forest, Illinois 60045</p>
						<p>Phone: (847) 234-9950</p>
					</div>
					
				</div>
			</div>
			<div data-role="footer" data-position="fixed"></div>
		</div>

<script>
	jQuery(document).bind('pageinit', function(){
	});
</script>
</body>
</html>